body {
    width: 1440px;
    height: 5412px;
    background: var(--Black, #000);
    color: #FFF;
    font-family: 'Sen', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-weight: bolder;
}

.mainmenu a:last-of-type {
color: purple;
}

h1 {
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 #footer {
    display: flex;
    width: 263px;
    height: 47px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    line-height: 60px;
    margin-top: 83px;
    margin-left: 74px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #00000040;
}

h3 {
    display: flex;
    width: 175px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 20px;  
    margin-left: 62px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #00000040;
}

h1::first-letter {
    color: maroon;
}
object {
    width: 114px;
    height: 26px;

}

label {
    color: white;
}

#Almira {
    width: 750px;
    height: 746px;
    flex-shrink: 0;
    margin-top: 44px;
    margin-left: 50px;
}

a:hover {
    color: blue;
}

.colortext {
    color: rgba(255, 255, 255, 0.50); 
}

#firstsection {
display: flex;
width: 718px;
height: 430.388px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}

.count div:first-of-type p {
    color: #3CC74E;
}

.count div:nth-child(2) p {
    color: #609BFF;
}

.count div:last-of-type p {
    color:#E95D90;
}